h1{
    color: aqua;
    background-color: black;
}

.bal{
    color: aquamarine;
    font-size: 20px;
   
    text-shadow: 2cm ;

    text-align: center;
    padding: 20px ;
    border: 20px solid rgb(71, 71, 71) ;
    border-radius: 4px;
    width: 100%;

}
.bl{
    border: 5px solid cornflowerblue;
    border-radius: 10px;
}
.sea{
    width: 50px;
    height: 20px ;
    padding: 50px;
    
}
.bal:hover{
    color: red ;
    font-size: 30px;
    background-color: black;

}